<html>

<head>
    <style>
        @@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
        @@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
        @@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

        body {
            color: #4A6D62;
            background: #ecf0f1;
            padding: 0 1em 1em;
        }

        h1 {
            margin: 0;
            line-height: 2;
            text-align: center;
            font-family: Josefin Sans;
            font-size: 55px;
        }

        h2 {
            margin: 0 0 0.5em;
            font-weight: normal;
            font-family: Poppins;
        }

        p {
            font-family: Heebo;
        }

        input {
            position: absolute;
            opacity: 0;
            z-index: -1;
        }

        .row {
            display: -webkit-box;
            display: flex;
        }

        .row .col {
            -webkit-box-flex: 1;
            flex: 1;
        }

        .row .col:last-child {
            margin-left: 1em;
        }

        /* Accordion styles */
        .tabs {
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
        }

        .tab {
            width: 100%;
            color: white;
            overflow: hidden;
        }

        .tab-label {
            display: -webkit-box;
            display: flex;
            -webkit-box-pack: justify;
            justify-content: space-between;
            padding: 1em;
            background: #6C9A8B;
            font-weight: bold;
            cursor: pointer;
            /* Icon */
        }

        .tab-label:hover {
            background: #4A6D62;
        }

        .tab-label::after {
            content: "\276F";
            width: 1em;
            height: 1em;
            text-align: center;
            -webkit-transition: all 0.35s;
            transition: all 0.35s;
        }

        .tab-content {
            max-height: 0;
            padding: 0 1em;
            color: #2c3e50;
            background: white;
            -webkit-transition: all 0.35s;
            transition: all 0.35s;
        }

        .tab-close {
            display: -webkit-box;
            display: flex;
            -webkit-box-pack: end;
            justify-content: flex-end;
            padding: 1em;
            font-size: 0.75em;
            background: #2c3e50;
            cursor: pointer;
        }

        .tab-close:hover {
            background: #4A6D62;
        }

        input:checked + .tab-label {
            background: #4A6D62;
        }

        input:checked+.tab-label::after {
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
        }

        input:checked~.tab-content {
            max-height: 100vh;
            padding: 1em;
        }
    </style>
</head>

<body>
    <h1>Manage your tasks here.</h1>
    <div class="row">
        <div class="col">
            <h2>Unfinished</h2>
            <div class="tabs">
                @for (int i = 0; i < Model.UnfinishedTasks.Count; i++)
                {
                <div class="tab">
                    <input type="checkbox" id=@i>
                    <label class="tab-label" for=@i>@Model.UnfinishedTasks[i].Title</label>
                    <div class="tab-content">
                        <p><b>Deadline:</b> @Model.UnfinishedTasks[i].Deadline.ToString("HH:mm")</p>
                        <p><b>Description:</b> @Model.UnfinishedTasks[i].Description</p>
                    </div>
                </div>
                }
            </div>
        </div>
        <div class="col">
            <h2>Finished</h2>
            <div class="tabs">
                @for (int i = 0; i < Model.FinishedTasks.Count; i++)
                {
                    <div class="tab">
                        <input type="checkbox" id=@Model.UnfinishedTasks.Count+@i>
                        <label class="tab-label" for=@Model.UnfinishedTasks.Count+@i>@Model.FinishedTasks[i].Title</label>
                        <div class="tab-content">
                            <p><b>Description:</b> @Model.FinishedTasks[i].Description</p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>


</body>

</html>