<html>

<head>
    <style>
        @@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
        @@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
        @@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

        body {
            color: #4A6D62;
            background: #ecf0f1;
            padding: 0 1em 1em;
        }

        h1 {
            margin: 0;
            line-height: 2;
            text-align: center;
            font-family: Josefin Sans;
            font-size: 55px;
        }

        h2 {
            margin: 0 0 0.5em;
            font-weight: normal;
            font-family: Poppins;
        }

        p {
            font-family: Heebo;
        }

        input {
            position: absolute;
            opacity: 0;
            z-index: -1;
        }

        .row {
            display: -webkit-box;
            display: flex;
        }

        .row .col {
            -webkit-box-flex: 1;
            flex: 1;
        }

        .row .col:last-child {
            margin-left: 1em;
        }

        /* Accordion styles */
        .tabs {
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
        }

        .tab {
            width: 100%;
            color: white;
            overflow: hidden;
        }

        .tab-label {
            display: -webkit-box;
            display: flex;
            -webkit-box-pack: justify;
            justify-content: space-between;
            padding: 1em;
            background: #6C9A8B;
            font-weight: bold;
            cursor: pointer;
            /* Icon */
        }

        .tab-label:hover {
            background: #4A6D62;
        }

        .tab-label::after {
            content: "\276F";
            width: 1em;
            height: 1em;
            text-align: center;
            -webkit-transition: all 0.35s;
            transition: all 0.35s;
        }

        .tab-content {
            max-height: 0;
            padding: 0 1em;
            color: #2c3e50;
            background: white;
            -webkit-transition: all 0.35s;
            transition: all 0.35s;
        }

        .tab-close {
            display: -webkit-box;
            display: flex;
            -webkit-box-pack: end;
            justify-content: flex-end;
            padding: 1em;
            font-size: 0.75em;
            background: #2c3e50;
            cursor: pointer;
        }

        .tab-close:hover {
            background: #4A6D62;
        }

        input:checked + .tab-label {
            background: #4A6D62;
        }

        input:checked+.tab-label::after {
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
        }

        input:checked~.tab-content {
            max-height: 100vh;
            padding: 1em;
        }

        .dugme {
            float: left;
            margin-left: 43%;
        }

        .icon-btn {
            width: 50px;
            height: 50px;
            border: 1px solid #cdcdcd;
            background: white;
            border-radius: 25px;
            overflow: hidden;
            position: relative;
            transition: width 0.2s ease-in-out;
        }

        .add-btn:hover {
            width: 120px;
        }

        .add-btn::before,
        .add-btn::after {
            transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
            content: "";
            position: absolute;
            height: 4px;
            width: 10px;
            top: calc(50% - 2px);
            background: #4A6D62;
        }

        .add-btn::after {
            right: 14px;
            overflow: hidden;
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
        }

        .add-btn::before {
            left: 14px;
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
        }

        .icon-btn:focus {
            outline: none;
        }

        .btn-txt {
            opacity: 0;
            transition: opacity 0.2s;
        }

        .add-btn:hover::before,
        .add-btn:hover::after {
            width: 4px;
            border-radius: 2px;
        }

        .add-btn:hover .btn-txt {
            opacity: 1;
        }

        .add-icon::after,
        .add-icon::before {
            transition: all 0.2s ease-in-out;
            content: "";
            position: absolute;
            height: 20px;
            width: 2px;
            top: calc(50% - 10px);
            background: #4A6D62;
            overflow: hidden;
        }

        .add-icon::before {
            left: 22px;
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
        }

        .add-icon::after {
            right: 22px;
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
        }

        .add-btn:hover .add-icon::before {
            left: 15px;
            height: 4px;
            top: calc(50% - 2px);
        }

        .add-btn:hover .add-icon::after {
            right: 15px;
            height: 4px;
            top: calc(50% - 2px);
        }
    </style>
</head>

<body>
    <h1>Manage your tasks here.</h1>
    <div class="row">
        <div class="col">
            <h2>Unfinished</h2>
            <div class="tabs">
                @for (int i = 0; i < Model.UnfinishedTasks.Count; i++)
                {
                    <div class="tab">
                        <input type="checkbox" id=@i>
                        <label class="tab-label" for=@i>@Model.UnfinishedTasks[i].Title</label>
                        <div class="tab-content">
                            <p><b>Deadline:</b> @Model.UnfinishedTasks[i].Deadline.ToString("HH:mm")</p>
                            <p><b>Description:</b> @Model.UnfinishedTasks[i].Description</p>
                            
                            <form asp-controller="Task" asp-action="ChangeTaskType" method="post">
                                <input type="hidden" id="Id" name="Id" value='@Model.UnfinishedTasks[i].Id' />
                                <input type="hidden" id="Title" name="Title" value='@Model.UnfinishedTasks[i].Title' />
                                <button type="submit">Done</button>
                            </form>
                        </div>
                    </div>
                }
            </div>
            <div class="dugme" style="text-align: center;   margin-top:5%">
                <button class="icon-btn add-btn">
                    <div class="add-icon"></div>
                    <div class="btn-txt">Add</div>
                </button>
            </div>

        </div>
        <div class="col">
            <h2>Finished</h2>
            <div class="tabs">
                @for (int i = 0; i < Model.FinishedTasks.Count; i++)
                {
                    <div class="tab">
                        <input type="checkbox" id=@Model.UnfinishedTasks.Count+@i>
                        <label class="tab-label" for=@Model.UnfinishedTasks.Count+@i>@Model.FinishedTasks[i].Title</label>
                        <div class="tab-content">
                            <p><b>Description:</b> @Model.FinishedTasks[i].Description</p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

</body>

</html>